body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #efefef;
}

nav{
	background: #331E36;
}

nav div{
	display: flex;
	max-width: 400px;
	margin: auto;
	color: #fff;
	align-items: center;
}

.btn_back{
	width: 30px;
	padding: 15px;
	position: absolute;
	cursor: pointer;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.title_reader{
	margin: 15px auto;
}

.container{
    display: flex;
	flex-direction: column;
	align-items: center;
    margin: 30px auto;
    max-width: 400px;
}

video{
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 20px;
}

#qrcontent{
	cursor: default;
	border-radius: 20px;
	resize: none;
	padding: 15px;
	border: none;
	background: #fff;
	width: 90%;
	box-shadow: #63636e 0px 7px 29px -15px;
	font-size: 16px;
	margin: 15px auto;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.container_btn{
	display: flex;
	width: 90%;
	justify-content: space-between;
	gap: 5px;
}

.btn_copy, .btn_go, .btn_refresh{
	width: 100%;
	border: none;
    border-radius: 20px;
	background: #28965A;
	color: #fff;
	cursor: pointer;
	padding: 15px 0;
	font-size: 16px;
    font-family: 'Poppins', sans-serif;
	text-align: center;
	text-decoration: none;
}

.btn_copy:hover, .btn_go:hover{
	background: #3bbb75;
}

.btn_copy:active, .btn_go:active{
	background: #4fdf90;
}

.btn_refresh{
	width: 90%;
	margin-top: 15px;
	background: #331E36;
}

.btn_refresh:hover, .btn_back:hover{
	background: #5f3a64;
}

.btn_refresh:active, .btn_back:active{
	background: #85528b;
}
