.container, .scann{
    display: flex;
	flex-direction: column;
	align-items: center;
}

video{
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 20px;
}

.changeCamera{
	width: 25px;
	height: 25px;
	position: relative;
    left: 125px;
    bottom: 40px;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

.changeCamera img{
	width: 100%;
}

.message{
	position: absolute;
    bottom: 10%;
    background: #acabab;
    padding: 15px 30px;
    border-radius: 20px;
	transition: opacity 0.5s linear;
	opacity: 0;
}