body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #efefef;
}

nav{
	background-color: #331E36;
}

nav div{
	display: flex;
	margin: auto;
	color: #fff;
	align-items: center;
}
.title_app{
	margin: 15px auto;
}

.container{
    margin: 30px auto;
    max-width: 90%;
}

.btn_lector, .btn_generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
	border: none;
    border-radius: 20px;
	background: #28965A;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.btn_lector:hover, .btn_generator:hover{
    background: #3bbb75;
}

.btn_lector:active, .btn_generator:active{
    background: #4fdf90;
}

img{
    display: block;
    margin: auto;
    width: 70%;
    filter: invert();
}